@import './sass/variables';
@import './sass/reset';

// pages
@import './sass/pages/splash';
@import './sass/pages/about';
@import './sass/pages/projects';

// mobile responsive
@import './sass/mobile';

footer {
  background-color: darken($background, 5%);
  text-align: center;
  padding: calc($gap-s - 0.1em) 0;
}
