@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  color: white;
  font-family: 'Poppins', sans-serif;
}

:root {
  --background: #282a37;
  --main-color: #333748;
  --primary: #01cc8e;
  --profile-icon-size: 200px;
}

/* reset stylings */
li {
  list-style-type: none;
}

/*  */
body {
  position: relative;
  height: 100vh;
  background-color: var(--background);
}

/* general style */
.center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.maximize {
  width: 100%;
  height: 100%;
}

.container {
  margin: 0 auto;
  width: min(80%, 1000px);
}

/* Splash page */
.splash-page {
  position: relative;
  height: 100vh;
  flex-direction: column;
}

.hero-bg {
  position: absolute;
  background-image: url(./assets/hero-bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  opacity: 85%;
}

.splash-page > h1 {
  text-shadow: 0px 0px 5px #242424;
}

.splash-page .name {
  font-size: clamp(2rem, 5vw, 5rem);
}

.splash-page .role {
  font-family: 'Anonymous Pro', 'Poppins', sans-serif;
  font-size: clamp(1.5rem, 3.5vw, 3rem);
}

.name,
.role {
  z-index: 0;
}

/* About me section */
.about-me {
  min-height: 300px;
  display: flex;
  align-items: center;
}

.profile-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75em;
}

.profile-pic {
  content: url(./assets/profile-icon.jpg);
  width: var(--profile-icon-size);
  height: var(--profile-icon-size);
  border-radius: 40px;
}

.about-content {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

/* Tech Stack section */
